<div class="bitboard-row">
    <div class="bitboard-col">
        <div class="bitboard" id="top-row-mask"></div>
        <div class="bitboard" id="middle-row-mask"></div>
        <div class="bitboard" id="bottom-row-mask"></div>
    </div>
    <div class="bitboard-col">
        <div class="bitboard" id="left-col-mask"></div>
        <div class="bitboard" id="middle-col-mask"></div>
        <div class="bitboard" id="right-col-mask"></div>
    </div>
    <div class="bitboard-col">
        <div class="bitboard" id="diagonal-mask"></div>
        <div class="bitboard" id="anti-diagonal-mask"></div>
    </div>
</div>

<script type="module" src="{{ 'assets/js/bbdemos/ttt-demo-3.js' | relative_url }}"></script>