<div class="Descriptor" id="status-demo-4">Player X's turn</div>
<div class="ttt-board" id="game-board-demo-4"></div>
<div class="bitboard-row">
    <div class="bitboard-col">
        <div class="Descriptor">X Board</div>
        <div class="bitboard" id="x-bitboard-demo-4"></div>
    </div>  
    <div class="bitboard-col">
        <div class="Descriptor">O Board</div>
        <div class="bitboard" id="o-bitboard-demo-4"></div>
    </div>
</div>
<button id="reset-btn-demo-4">Restart Game</button>

<script type="module" src="{{ 'assets/js/bbdemos/ttt-demo-4.js' | relative_url }}"></script>